<strong>Doubts about Object-Oriented Programming</strong>

<h1>Questioning object orientation</h1>
<p>What if that notion is wrong and incomplete? Have you ever had doubts on how you wrote your program? Does it sometimes seem more complicated than should be necessary or does it take a lot more effort to get something working than you would expect? Did you ever start writing your program and got slowed down because you started doubting the program's structure as it emerged? Or maybe you started doubting afterwards because the complete structured turned out more complex than you would have expected beforehand?</p>

<p>A few examples of what I'm talking about:</p>
<ul>
	<li>The difficulty with Inversion of Control,</li>
	<li>and consequently the notion of Dependency Injection;</li>
	<li>the singleton pattern and its various flavours,</li>
	<li>the (lack of a) way to implement co-routines,</li>
	<li>the difficulty with multi-threading and multi-processing.</li>
</ul>

<p>The most popular languages of the moment are probably Java and C#, however there are others. These languages are the object-oriented programming languages, and are typically used as examples for object-oriented programming in general. They even tend to define the notion of object orientation by how they function.</p>

