
<h1>I don't care about your future</h1>
About futures and callbacks as methods for asynchronous execution. (i.e. workarounds for the real problem: blocking operations.) Asynchronicity is not the solution, it's the workaround. Callbacks result in a complicated program to reason about. Cannot easily control other threads or when a callback is still valid.
Futures are similar to channels ...

<h1>Incomplete or partial implementations of Message passing</h1>
<p>Using generators as a semi-solution to message passing. Python's generators and yield-keyword. C#'s yield keyword for message passing.</p>
